on:
  push:
    branches:
      - main

permissions:
  id-token: write

jobs:
  build_package:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - run: echo Ahoj
      - run: |
          env
